{{ page.header }}

{{ page.content }}

{% if page.footer %}
  {{ page.footer }}
{% endif %} 

<footer class="site-footer">

  <div class="wrapper-1400">

    {{ page.footer_branding }}
    {{ page.footer_section_1 }}
    {{ page.footer_section_2 }}
    {{ page.footer_section_3 }}
    {{ page.footer_section_4 }}
  
  </div>

</footer>